.post {
    /* width: 400px; */
    /* height: 400px; */
    background-color: aquamarine;
}



.search {
    /* background-color: yellow; */
}

.NavBarButtons {
    background-color: brown;
}

.NewsFeed {
    background-color: limegreen;
}

.PostContainer {
    background-color: aqua;
}

